// Table of Contents
//
// 1 Pattern outline
// 2 Imports
// 3 Small devices

// 1 Pattern outline
// =============================================================================

// .accordion
// | .accordion__btn
// | | .accordion__highlight
// | | | .accordion__mask
// | | .accordion__icon
// | .accordion__inner

// 2 Imports
// =============================================================================

@import '../utilities/variables';
@import '../vendors/rem';
@import '../mixins/media-query';

// 3 Small devices
// =============================================================================
.#{$ns}-accordion {
  box-sizing: border-box;
  border-bottom: rem(1px) solid $grey-1;
  margin-bottom: $space-s;
  transition: border-bottom-color $duration-2 $easing-default;
}

.#{$ns}-accordion.#{$ns}-active {
  border-bottom-color: $grey-4;
}

.#{$ns}-accordion__btn {
  position: relative;
  box-sizing: border-box;
  width: calc(100% - #{rem(48px)});
  padding: rem(12px) 0;
  border: none;
  background-color: transparent;
  color: $grey-3;
  font-family: $subheadings;
  font-size: rem(12px);
  font-weight: 500;
  line-height: $space-m;
  text-align: left;
  text-transform: uppercase;
  transition: color $duration-2 $easing-default;
}

.#{$ns}-accordion__btn:hover {
  cursor: pointer;
}
.#{$ns}-accordion__btn:focus {
  outline: none;
}

.#{$ns}-active > .#{$ns}-accordion__btn {
  color: $grey-4;
}

// .#{$ns}-accordion__highlight {
//   position: absolute;
//   top: rem(-8px);
//   right: rem(-8px);
//   fill: $primary-1;
// }

// .#{$ns}-accordion__icon {
//   position: absolute;
//   top: rem(12px);
//   right: rem(12px);
//   stroke: $black-opaque;
//   transition: transform $duration-2 $easing-bounce-out;
//   pointer-events: none;
// }

// .#{$ns}-accordion__btn:hover > .#{$ns}-accordion__icon {
//   stroke: red;
// }
// .#{$ns}-accordion__btn:focus > .#{$ns}-accordion__icon {
//   stroke: red;
// }

// .#{$ns}-active > .#{$ns}-accordion__btn > .#{$ns}-accordion__icon {
//   transform: rotate(45deg);
// }

.#{$ns}-accordion__inner {
  opacity: 0;
  margin-top: rem(-4px);
  transition: opacity $duration-2 $easing-default;
  transition-delay: 0;

  pointer-events: none;
}

.#{$ns}-active > .#{$ns}-accordion__inner {
  opacity: 1;
  transition-delay: $duration-3;
  pointer-events: auto;
}

.#{$ns}-accordion__inner::after {
  content: '';
  display: table;
  clear: both;
}

// 3.1 Medium devices
// =============================================================================

@include media-query('medium') {
  .#{$ns}-accordion__btn {
    padding-top: $space-xs;
    padding-bottom: $space-xs;
    font-size: rem(14px);
    line-height: rem(32px);
  }

  .#{$ns}-accordion__inner {
    margin-top: 0;
  }
}

// 3.2 Large devices
// =============================================================================

@include media-query('large') {
  .#{$ns}-accordion__btn {
    font-size: rem(15px);
  }
}
