// Table of Contents

// 1 Pattern outline
// 2 Imports
// 3 Small devices

// 1 Pattern outline
// =============================================================================

// .accordion
// | .accordion__btn
// | | .accordion__label
// | | .accordion__icon
// | .accordion__inner

// 2 Imports
// =============================================================================

@import '../utilities/variables';
@import '../vendors/rem';
@import '../mixins/media-query';

// 3 Small devices
// =============================================================================

.#{$ns}-accordion {
  box-sizing: border-box;
  border-bottom: rem(1px) solid $grey-1;
  margin-bottom: $space-s;
  transition: border-bottom-color $duration-2 $easing-default;
  transition-delay: $duration-4;
}

.#{$ns}-accordion.#{$ns}-active {
  border-bottom-color: $grey-4;
  transition-delay: $duration-0;
}

.#{$ns}-accordion__btn {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: rem(12px 56px 12px 0);
  border: none;
  background-color: transparent;
  text-align: left;
}

.#{$ns}-accordion_btn::-moz-focus-inner {
  border: none;
}

.#{$ns}-accordion__btn:hover {
  cursor: pointer;
}
.#{$ns}-accordion__btn:focus {
  outline: none;
}

.#{$ns}-accordion__label {
  color: $grey-3;
  font-family: $subheadings;
  font-size: rem(12px);
  font-weight: 500;
  line-height: $space-m;
  text-transform: uppercase;
  transition: color $duration-2 $easing-default;
  transition-delay: $duration-4;
}

.#{$ns}-active > .#{$ns}-accordion__btn > .#{$ns}-accordion__label {
  color: $grey-4;
  transition-delay: $duration-0;
}

.#{$ns}-accordion__icon {
  position: absolute;
  top: 50%;
  right: rem(-8px);
  transform: translateY(-50%);
  transition: transform $duration-2 $easing-default;
  // transition-delay: $duration-4; ??
}

.#{$ns}-active > .#{$ns}-accordion__btn > .#{$ns}-accordion__icon {
  transform: translateY(-50%) rotate(45deg);
  transition-delay: $duration-0;
}

.#{$ns}-accordion__inner {
  opacity: 0;
  height: 0;
  margin-top: 0;
  transition: opacity $duration-2 $easing-default,
    margin-top $duration-2 $easing-default;
  transition-delay: $duration-0, $duration-1;
  pointer-events: none;
}

.#{$ns}-active > .#{$ns}-accordion__inner {
  opacity: 1;
  margin-top: rem(-4px);
  transition-delay: 0.4s, $duration-0;
  pointer-events: auto;
}

// 3.1 Medium devices
// =============================================================================

@include media-query('medium') {
  .#{$ns}-accordion {
    margin-bottom: $space-m;
  }

  .#{$ns}-accordion__btn {
    padding-top: $space-xs;
    padding-bottom: $space-xs;
  }

  .#{$ns}-accordion__label {
    font-size: rem(14px);
    line-height: rem(32px);
  }
}

// 3.2 Large devices
// =============================================================================

@include media-query('large') {
  .#{$ns}-accordion__label {
    font-size: rem(15px);
  }
}
