// Table of Contents

// 1 Pattern outline
// 2 Imports
// 3 Small devices

// 1 Pattern outline
// =============================================================================

// .img
// | .img__state
// | | .img__number
// | | .img__total
// | .img__outer
// | | .img__inner
// | | | .img__border
// | | | | .img_src
// | .img__controls
// | | .img__btn
// | | .img__list
// | | .img__btn

// 2 Imports
// =============================================================================

@import '../utilities/variables';
@import '../vendors/rem';
@import '../mixins/media-query';

// 3 Small devices
// =============================================================================

.#{$ns}-img__state {
  display: block;
  margin-bottom: $space-xs;
  color: $grey-3;
  font-size: rem(12px);
  line-height: rem(24px);
  font-weight: 400;
  pointer-events: none;
  user-select: none;
}

.#{$ns}-img__number {
  font-weight: 500;
}

.#{$ns}-img__total {
  font-weight: 500;
}

.#{$ns}-img__outer {
  padding: $space-xs;
  margin-bottom: $space-m;
}

.#{$ns}-img__inner {
  position: relative;
  height: 0;
  padding-top: 56.25%;
}

.#{$ns}-img--16x9 .#{$ns}-img__inner {
  padding-top: 56.25%;
}

.#{$ns}-img--3x4 .#{$ns}-img__inner {
  padding-top: 75%;
}

.#{$ns}-img__border {
  position: absolute;
  left: rem(-8px);
  width: 100%;
  border: 8px solid white;
  border-radius: $border-radius-xs;
  // padding: $space-xs;
  background-color: $bg-3;
}

.#{$ns}-img__border:nth-of-type(1) {
  z-index: 3;
  bottom: rem(-8px);
  box-shadow: #{$shadow-4};
}
.#{$ns}-img__border:nth-of-type(2) {
  z-index: 2;
  bottom: calc(-6.25% + #{rem(-8px)});
  // transform: translateX(-50%) scale(0.95) rotate(0.8deg);
  box-shadow: #{$shadow-3};
}
.#{$ns}-img__border:nth-of-type(3) {
  z-index: 1;
  bottom: calc(-12.5% + #{rem(-8px)});
  // transform: translateX(-50%) scale(0.9025) rotate(-0.55deg);
  box-shadow: #{$shadow-2};
}
.#{$ns}-img__border:nth-of-type(4) {
  z-index: 0;
  //   bottom: rem(-8px);
  //   transform: translateX(-50%) scale(0.8145);
  box-shadow: #{$shadow-1};
}

.#{$ns}-img__src {
  opacity: 0;
  height: 0;
  padding-top: 56.25%;
  border-radius: $border-radius-xxs;
  background-size: cover;
  transition: opacity $duration-5 $easing-default;
}

.#{$ns}-img--16x9 .#{$ns}-img__src {
  padding-top: 56.25%;
}

.#{$ns}-img--3x4 .#{$ns}-img__src {
  padding-top: 75%;
}

.#{$ns}-img__src.#{$ns}-loaded {
  opacity: 1;
}

// .#{$ns}-img__src::after {
//   content: '';
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   background-color: $grey-1;
// }
