// Table of Contents

// 1 Pattern outline
// 2 Imports
// 3 Small devices

// 1 Pattern outline
// =============================================================================

// .img
// | .img__number
// | .img__outer
// | | .img__inner
// | | | .img__slide
// | | | | .img__src
// | .img__controls
// | | .img__btn
// | | .img__list
// | | .img__btn

// 2 Imports
// =============================================================================

@import '../utilities/variables';
@import '../vendors/rem';
@import '../mixins/media-query';

// 3 Small devices
// =============================================================================

.#{$ns}-img--slider {
  margin-bottom: $space-s;
}

.#{$ns}-img__number {
  display: block;
  margin-bottom: $space-xs;
  color: $grey-3;
  font-size: rem(12px);
  line-height: rem(24px);
  font-weight: 400;
  pointer-events: none;
  user-select: none;
}

.#{$ns}-img__outer {
  padding: $space-xs;
  margin-bottom: $space-m;
}

.#{$ns}-img__inner {
  position: relative;
  height: 0;
  padding-top: 56.25%;
}

.#{$ns}-img--1x1 .#{$ns}-img__inner {
  padding-top: 100%;
}

.#{$ns}-img--3x4 .#{$ns}-img__inner {
  padding-top: 75%;
}

.#{$ns}-img--16x9 .#{$ns}-img__inner {
  padding-top: 56.25%;
}

.#{$ns}-img__slide {
  position: absolute;
  left: rem(-8px);
  width: 100%;
  height: 100%;
  border: $space-xs solid $white;
  border-radius: $border-radius-xs;
  background-color: $bg-3;
}

.#{$ns}-img__slide:nth-of-type(1) {
  z-index: 3;
  bottom: rem(-8px);
  box-shadow: #{$shadow-4};
}
.#{$ns}-img__slide:nth-of-type(2) {
  z-index: 2;
  bottom: rem(-24px);
  box-shadow: #{$shadow-3};
  transform: scale(0.95) rotate(0.8deg);
}
.#{$ns}-img__slide:nth-of-type(3) {
  z-index: 1;
  bottom: rem(-40px);
  box-shadow: #{$shadow-2};
  transform: scale(0.9025) rotate(-0.55deg);
}

.#{$ns}-img__src {
  opacity: 0;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.#{$ns}-img__src.#{$ns}-loaded {
  opacity: 1;
}

.#{$ns}-img__controls {
  width: auto;
  margin: 0 auto;
}

.#{$ns}-img__btn {
  position: relative;
  box-sizing: border-box;
  width: rem(48px);
  height: rem(48px);
  padding: 0;
  border: none;
  background-color: transparent;
}

.#{$ns}-img__btn:hover {
  cursor: pointer;
}
.#{$ns}-img__btn:focus {
  outline: none;
}

.#{$ns}-img__icon {
  position: absolute;
  top: rem(-8px);
  left: rem(-8px);
}

// 3.1 Medium devices
// -----------------------------------------------------------------------------

@include media-query('medium') {
  .#{$ns}-img--slider {
    margin-bottom: $space-m;
  }

  .#{$ns}-img__number {
    font-size: rem(13px);
  }

  .#{$ns}-img__outer {
    padding: $space-xs;
    margin-bottom: rem(32px);
  }
}

// 3.2 Large devices
// -----------------------------------------------------------------------------

@include media-query('large') {
  .#{$ns}-img__number {
    font-size: rem(14px);
  }
}
