:root {
  --white: $white;

  --grey-1: $grey-1;
  --grey-2: $grey-2;
  --grey-3: $grey-3;
  --grey-4: $grey-4;

  --black: $black;

  --bg-1: $bg-1;
  --bg-2: $bg-2;
  --bg-3: $bg-3;

  --shadow: $shadow;

  --primary-1: $primary-1;
  --primary-2: $primary-2;
  --primary-3: $primary-3;
  --primary-4: $primary-4;

  --secondary-1: $secondary-1;
  --secondary-2: $secondary-2;
  --secondary-3: $secondary-3;
  --secondary-4: $secondary-4;

  --tertiary-1: $tertiary-1;
  --tertiary-2: $tertiary-2;
  --tertiary-3: $tertiary-3;
  --tertiary-4: $tertiary-4;

  --accent-1: $accent-1;
  --accent-2: $accent-2;
  --accent-3: $accent-3;
  --accent-4: $accent-4;
  --accent-5: $accent-5;
}
