.navbar {
  height: 4rem; }

.up-legacy-nav__bar {
  border-bottom: none; }

#nav-drawer.closed {
  left: -20.3125rem; }

.bux-tick,
.bux-tick-sub {
  cursor: pointer; }

#dropdown-1 {
  outline: none;
  user-select: none; }

.bux-dropdown-menu {
  box-shadow: 0 0 1.25rem 0.25rem rgba(152, 1, 1, 0.02), 0 2.5rem 2.5rem -0.625rem rgba(34, 17, 65, 0.1); }

.ml-auto.d-flex > span[onclick] {
  cursor: pointer; }

#co-header-image {
  position: relative;
  width: auto;
  margin-top: -1.5rem;
  margin-right: -1.5rem;
  margin-bottom: 1.5rem;
  margin-left: -1.5rem; }

#co {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  width: calc(100% - 3rem); }

#co-header-text {
  position: static;
  display: table;
  font-family: "DM Serif Text", Georgia, serif;
  font-size: 2.6875rem;
  font-style: normal;
  line-height: 3rem;
  word-wrap: break-word; }

#co-header-text::-moz-selection {
  background-color: transparent; }

#co-header-text::selection {
  background-color: transparent; }

#co-sub-header-text {
  position: static;
  display: table;
  margin-top: 0.5rem;
  font-family: "Oswald", Tahoma, sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem; }

#co-sub-header-text::-moz-selection {
  background-color: transparent; }

#co-sub-header-text::selection {
  background-color: transparent; }

.bux-container-content {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0; }

#region-main .box {
  width: calc(100% + 3rem);
  margin-right: -1.5rem;
  margin-bottom: 1.5rem;
  margin-left: -1.5rem; }

#region-main .box > .bux-topic-img[height] {
  height: auto !important;
  margin-bottom: 0; }

#region-main .box ~ br {
  display: none; }

#page {
  padding-top: 0;
  margin-top: 4rem; }

body #page > #page-content,
body #page > #page-content[style] {
  margin-left: 0 !important;
  color: rgba(0, 0, 9, 0.959);
  font-family: "Roboto", Arial, sans-serif; }

#region-main > div:not([role]) {
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem; }

#region-main-box img {
  display: block;
  max-width: 100%;
  max-height: none;
  margin: 0 auto 1.5rem;
  vertical-align: baseline; }

#region-main-box span[onclick] > img {
  margin-bottom: 0; }

.bux-container-content :first-child {
  margin-top: 0; }

.card-body.p-2 {
  padding: 0 !important; }

.bux-module-number {
  line-height: 3rem; }

.bux-module-name {
  line-height: 3rem; }

div[id^='topic-header-'] {
  height: 3rem;
  margin-top: 4rem; }

div[id^='topic-header-'] + div[id^='topic-menu-'] + .up-h2 {
  margin-top: 0; }

h1.up-h1[style] {
  padding: 0 !important; }

h2.up-h2[style] {
  padding: 0 !important; }

h3.up-h3[style] {
  padding: 0 !important; }

h4.up-h4[style] {
  padding: 0 !important; }

h5.up-h5[style] {
  padding: 0 !important; }

h6.up-h6[style] {
  padding: 0 !important; }

p {
  color: rgba(0, 0, 9, 0.959); }

.up-ol {
  padding-left: 0; }

ol.up-ol {
  list-style-type: none; }

.up-ul {
  padding-left: 0; }

ul.up-ul {
  list-style-type: none; }

ul.up-ul#\30 {
  margin-bottom: 0;
  margin-left: 0; }

ul.up-ul#\30::before {
  display: none; }

li.up-li.bux-tick-none::before {
  display: none; }

table.up-table[style] {
  width: 100% !important; }

@media only screen and (min-width: 30.0625em) {
  .navbar {
    height: 4.5rem; }
  #co-header-image {
    margin-top: -2.5rem;
    margin-right: -2.5rem;
    margin-bottom: 2.5rem;
    margin-left: -2.5rem; }
  #co {
    bottom: 2.5rem;
    left: 2.5rem;
    width: calc(100% - 5rem); }
  #co-header-text {
    font-size: 3.125rem;
    line-height: 3.5rem; }
  #co-sub-header-text {
    font-size: 1.5rem;
    line-height: 2rem; }
  #region-main .box {
    width: calc(100% + 5rem);
    margin-right: -2.5rem;
    margin-bottom: 2.5rem;
    margin-left: -2.5rem; }
  #page {
    margin-top: 4.5rem; }
  #region-main > div:not([role]) {
    margin-top: 2.5rem;
    margin-right: 2.5rem;
    margin-left: 2.5rem; } }

@media only screen and (min-width: 48.0625em) {
  #co-header-image {
    margin-top: -4rem;
    margin-right: -4rem;
    margin-bottom: 4rem;
    margin-left: -4rem; }
  #co {
    bottom: 4rem;
    left: 4rem;
    width: calc(100% - 8rem); }
  #co-header-text {
    font-size: 3.625rem;
    line-height: 4rem; }
  #co-sub-header-text {
    font-size: 1.875rem;
    line-height: 2.5rem; }
  #region-main .box {
    width: calc(100% + 8rem);
    margin-right: -4rem;
    margin-bottom: 4rem;
    margin-left: -4rem; }
  #region-main > div:not([role]) {
    margin-top: 4rem;
    margin-right: 4rem;
    margin-left: 4rem; } }
