// 1 Imports
// =============================================================================

@import './utilities/variables';
@import './vendors/rem';
@import './mixins/media-query';

// 2 Small devices
// =============================================================================

// Resolves double number issue.
ol {
  list-style-type: none;
}

// Resolves double bullet issue.
li {
  list-style-type: none;
}

// Resolves bullet issue on subtopic section headings.
.bux-tick-none.up-li::before {
  display: none;
}

// #page {
//  padding-top: 0;
//  padding-left:0;
//  margin-top: $space-xl;
// }

// #page-content {
//   padding: 0;
//   padding-top: 0;
//   color: $black;
// }
